*{
    margin: 0; padding: 0; box-sizing: border-box; 
}

h1,
h2,
h3,
h4,
p{
    letter-spacing: .1rem ;
}

section{
    @apply py-8 px-16 md:pl-[16rem];
}

.active{
    color: #FF0096
}

.card-collection{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* barcode scanner unnecessary class removal  */
#scanner-container>.drawingBuffer{
    display: none;
}

#scanner-container>video{
    @apply w-3/5
}


@tailwind base;

@layer base {
}
  

@tailwind components;
@tailwind utilities;