@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,600;1,200;1,300&family=Raleway:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0; padding: 0; box-sizing: border-box; 
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    letter-spacing: .1rem ;
    @apply transition-all;
}

body{
    background-color: #f8f9fc;
}

button{
    @apply !px-6 !py-4 rounded-md !font-medium;
}

button.btn-outline{
    @apply border border-primary hover:bg-slate-200 hover:shadow-md
}

button.fill{
    @apply bg-primary hover:bg-secondary text-white;
}

.header-navlink{
    @apply rounded-lg p-2 hover:bg-gray-100;
}

.hero-section{
    background-image: linear-gradient(to right top, #f7f8fc, #f0f0fc, #ede6fa, #ecdcf5, #efd1ee);
}


section{
    @apply py-8 px-16;
}

.active{
    @apply bg-primary
}

.animate{
    animation: up-down 4s cubic-bezier(0.01, 0, 1, 1.01) infinite;
}

.animate1{
    animation-delay: 1s;
}
.animate2{
    animation-delay: 2s;
}
.animate1{
    animation-delay: 1s;
}

@keyframes up-down {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-20%);
    }
    0%{
        transform: translateY(0%);
    }
}

.card-collection{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* barcode scanner unnecessary class removal  */
#scanner-container>.drawingBuffer{
    display: none;
}

#scanner-container>video{
    @apply w-3/5;
}

td, th {
    @apply border text-left p-2 whitespace-nowrap;
}

.modalFormHeading{
    @apply text-gray-400 pb-1 ml-1;
}

.modalFormInput{
    @apply p-2 w-full text-xl focus:border-blue-400 rounded-md focus:outline-none border;
}

@tailwind base;

@layer base {
}
  

@tailwind components;
@tailwind utilities;